<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" bootstrap="../../autoload.php" convertErrorsToExceptions="true" stopOnFailure="false" stopOnError="false">
    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">./</directory>
        </testsuite>
    </testsuites>
</phpunit>
